# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
venv/
env/
.venv/
venv-*/

# Anaconda environments (if applicable)
*.conda
*.ipynb_checkpoints/

# Package directories
build/
dist/
*.egg-info/

# Local dependency directories
.eggs/
pip-wheel-metadata/

# VS Code settings
.vscode/

# Azure Functions local settings & build artifacts
local.settings.json   # local config that contains secrets
.azurefunctions/      # Azure Functions build output
host.json             # if not necessary for production
azurite_workspace/    # Azurite emulator data

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# Temporary files
*.tmp
*.swp
*~

# OS-specific files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Other sensitive files
.env
secret*.json
**/local.settings.json
local.settings.json

# Miscellaneous
*.bak

.python_packages